<%= provide(:title, "Fire Your Coworkers!") %>
<div class="center hero-unit">
  <h1>Fire Your Coworkers!</h1>
  <br>
  <%= link_to "Admin Access", new_session_path, class: "btn btn-large" %>
  <%= link_to "User Access", new_vote_path, class: "btn btn-large" %>
</div>          
